{% extends 'partials/base.html' %}

{% block title %} Admission {% endblock %}

{% load static %}

{% block content %}
	<div>
				<!-- Hero-area -->
		<div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(../static/img/book.jpg)"></div>
			<!-- /Backgound Image -->
			<div class="container" style="height: 10px;">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<h1 class="white-text" style="margin-top: -10px;">Admission <span style="color: orange;">Procedure</span></h1>
					</div>
				</div>
			</div>

		</div>

		<div class="container">
			<div style="margin-top: 20px;">
		        <p style="font-size: 16px; color: black;">
		        Students who have completed their higher secondary final exams can directly apply to the college with their academic certificates, </p>
		        <p style="font-size: 16px; color: black;">citizenship certificate or passport or birth certificate or citizenship of either of the parents. 
		        Applicants should be minimum 18 years of age and</p>
		        <p style="font-size: 16px; color: black;">should possess the minimum qualifications mentioned here under.</p>
		    </div>
		    <div style="margin-top: 40px; color:black;">
		        <div style="float: left; height: 300px; width: 805px; color: black; border-radius: 10px; border-style: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<div style="margin-top: -13px; padding: 5px 0 0 15px; height: 50px; border-style: none; border-radius: 10px 10px 0 0; background-color: black;"><h4 style="color: orange;">Bachelor's in Computer Science</h4></div>
				    <div style="padding: 15px 0 0 25px;"> 
				        <li>Academic Level
				            <ul>
				                <li>Completion of NEB +2 Qualification with an aggregate ≥ 60% or 2.2 CGPA*</li>
				                <li>2 ‘A’ level passes with minimum grades A to C or 3 ‘A’ level subjects with minimum grades D and above.</li>
				            </ul>
				        </li>
				        <li style="padding-top: 5px;">English
				            <ul>
				                <li>English NEB XII Marks ≥ 60% or 2.4 GPA*</li>
				                <li>Pass in GP or English in A or AS Levels</li>
				            </ul>
				        </li>
				        <li style="padding-top: 5px;">Maths
				        	<ul>
				        		<li>Maths NEB XII Marks ≥ 60% or 2.4 GPA</li>
				        		<li>Pass in GP or Maths in A or AS Levels</li>
				        	</ul>
				        </li>
				    </div>
			    </div>
		    </div>

	        <div style="float: left; margin-top: 20px;"><p style="padding-top: 20px; text-align: center; color: black; font-size: 16px;">For More Details, Please Contact: 01-1234567, 01-2345678. Email: evecollege@edu.np</p></div>
		</div>
		<!-- Footer -->
		<footer style="height: 70px; margin-top: -10px;">
				<!-- row -->
				<div id="bottom-footer" class="row" style="float: center; text-align: center; color: black;">
					<span>&copy; Copyright 2019. All Rights Reserved. | Everest College</span>
				</div>
				<!-- row -->

		</footer>
		<!-- /Footer -->
    </div>
{% endblock %}