{% extends 'partials/base.html' %}

{% block title %} Course {% endblock %}

{% load static %}

{% block content %}
	<div>
		<!-- Hero-area -->
		<div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(../static/img/course.jpg)"></div>
			<!-- /Backgound Image -->
			<div class="container" style="height: 10px;">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<h1 class="white-text" style="margin-top: -10px;">Course <span style="color: orange;">Offered</span></h1>
					</div>
				</div>
			</div>

		</div>

		<div class="container" style="height: 490px; margin-top: 20px;">
			<div style="padding-top: 10px; text-align: center;">
				<h3>Bachelor in Information Technology</h3>
			</div>
			<div style="height: 390px; margin-top: 50px;">
				<div style="margin-left: -40px; float: left; height: 400px; width: 370px; color: black; border-radius: 10px; border-style: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<div style="margin-top: -13px; padding: 1px 0 0 15px; height: 60px; border-style: none; border-radius: 10px 10px 0 0; background-color: black;"><h4 style="color: orange;">Diploma in Information Technology : 1st year</h4></div>
					<div style="padding: 15px 0 0 25px;">
						<li style="margin-bottom: 10px;">Personal Development Skills for Computing</li>
					    <li style="margin-bottom: 10px;">Introduction to Programming 1</li>
					    <li style="margin-bottom: 10px;">Introductory Data Structure and Algorithms</li>
					    <li style="margin-bottom: 10px;">Computing Mathematics and Digital Logic</li>
					    <li style="margin-bottom: 10px;">Computer Architecture and Operating System</li>
					    <li style="margin-bottom: 10px;">Introduction to Web Technologies</li>
					    <li style="margin-bottom: 10px;">Introduction to Database System</li>
					    <li style="margin-bottom: 10px;">Introduction to Programming 2</li>
					</div>
				</div>
				<div style="float: left; height: 400px; width: 370px; margin-left: 60px; color: black; border-radius: 10px; border-style: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<div style="margin-top: -13px; padding: 1px 0 0 15px; height: 60px; border-style: none; border-radius: 10px 10px 0 0; background-color: black;"><h4 style="color: orange;">Advance Diploma in Information Technology: 2nd year</h4></div>		
				    <div style="padding: 15px 0 0 25px;">
					    <li style="margin-bottom: 10px;">Software Engineering</li>
					    <li style="margin-bottom: 10px;">Object-Oriented Design and Programming</li>
					    <li style="margin-bottom: 10px;">Database Design and Implementation</li>
					    <li style="margin-bottom: 10px;">Software Project Management</li>
					    <li style="margin-bottom: 10px;">System Analysis and Design Methods
					    <li style="margin-bottom: 10px;">Research and Development Skills in Computing</li>
					    <li style="margin-bottom: 10px;">Current Technologies: Mobile and Cloud Computing</li>
					    <li style="margin-bottom: 10px;">Introductory Computer Networking & IT Security</li>
					</div>
				</div>
				<div style="margin-right: -50px; float: right; height: 400px; width: 370px; color: black; border-radius: 10px; border-style: none; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
					<div style="margin-top: -13px; padding: 1px 0 0 15px; height: 60px; border-style: none; border-radius: 10px 10px 0 0; background-color: black;"><h4 style="color: orange;">Bachelor's in Information Technology: 3rd year</h4></div>
				    <div style="padding: 15px 0 0 25px;">
					    <li style="margin-bottom: 10px;">Project with Computer Science</li>
					    <li style="margin-bottom: 10px;">High Performance Computing</li>
					    <li style="margin-bottom: 10px;">Complex Systems</li>
					    <li style="margin-bottom: 10px;">Artificial Intelligence & Machine Learning</li>
					    <li style="margin-bottom: 10px;">Big Data</li>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer style="height: 70px; margin-top: 60px;">
			<!-- row -->
			<div id="bottom-footer" class="row" style="float: center; text-align: center; color: black; margin-top: -8px;">
				<span>&copy; Copyright 2019. All Rights Reserved. | Everest College</span>
			</div>
			<!-- row -->
	</footer>
	<!-- /Footer -->
{% endblock %}